
.worldDropdown .dropdown.open #dropdownMenu1 {
    color: #fff !important;
background-color: #9e9e9e !important;
border-color: #9e9e9e !important;
}

.worldDropdown .dropdown {
    display: flex;
    justify-content: center;
    height: 30px;
    margin: 0 0 5px 0;
    position: relative;
}

.worldDropdown .dropdown ul {
    background-color: var(--progress-bg);
    width: fit-content;
    height: fit-content;
    position: absolute;
    padding: 0.3rem 0;
    top: 5px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    display: none;
}

.worldDropdown .dropdown.open ul {
    display: block;
}

.worldDropdown .dropdown ul li a {
    padding: 0.1rem 2.5rem;
    cursor: pointer;
}

.worldDropdown .dropdown ul li:hover {
    background-color: #00000024;
}

#dropdownMenu1 {
    padding-top: 3.7px !important;
}

.buttonBar {
    margin-top: 8px;
}

@media screen and (max-width: 500px) {
    #ideIde {
        height: 680px !important;
    }

    #beeperPickingIde {
        height: 605px !important;
    }

    #stepUpIde {
        height: 730px !important;
    }

    #stepUp2Ide {
        height: 730px !important;
    }

    #potholeIde {
        height: 855px !important;
    }

    .a99beepersIde {
        height: 490px !important;
    }

    #cornerBeepersIde {
        height: 526px !important;
    }

    #cornerBeepers10Ide {
        height: 757px !important;
    }
}