:root {
    --background: #181818;
    --color-heading: #ececec;
    --color-h1: white;
    --h1-bottom: #353434;
    --text-color: #bfbfbf;
    --top-bar: #333;
    --table-border: #333333;
    --overlay-color: rgba(0, 0, 0, 0.5);
    --menu-active-color: white;
    --code-highlight-background: #353535;
    --box-shadow1: rgba(0, 0, 0, 0.1);
    --box-shadow2: rgba(0, 0, 0, 1);
    --contact-textarea: rgba(255, 255, 255, .1);
    --contact-background: rgb(33 33 33 / 95%);
    --contact-btn: #c0c0c0;
    --contact-text-holder: #f7f7f7;
    --contact-border: #353535;
    --main-active: #f2f2f2;
    --main-nav: #bfbfbf;
    --code-text: #000;
    --code-bg: #EAD697;
    --code-border: #846503;
    --code-hover-bg: #E3CC79; 
    --progress-bg: rgba(62, 62, 62, 0.97);
    --progress-border: #3E3E3E;
    --deck-label: #222;
    --help-modal: rgba(0, 0, 0, 0.7);
    --text-editor-menu: #333;
}

.light-mode {
    --background: #f7f7f7;
    --color-heading: #5e5e5e;
    --color-h1: #222;
    --h1-bottom: #F0F2F4;
    --text-color: #323232;
    --top-bar: #F6F6F6;
    --table-border: #eaeaea;
    --overlay-color: rgba(255, 255, 255, 0.5);
    --menu-active-color: #777;
    --code-highlight-background: #f0f0f0;
    --box-shadow1: rgba(0, 0, 0, 0.5);
    --box-shadow2: rgba(230, 230, 230, 0.8);
    --contact-textarea: #FFF;
    --contact-background: #F9F9F9;
    --contact-text-holder: #888;
    --contact-border: #ccc;
    --main-active: #323232;
    --main-nav: #f7f7f7;
    --code-text: #5e5e5e;
    --code-bg: #FFF7DD;
    --code-border: #fbf0cb;
    --code-hover-bg: #E8E2CD; 
    --progress-bg: rgba(246, 246, 246, 0.97);
    --progress-border: #ECECEC;
    --deck-label: #f7f7f7;
    --help-modal: rgba(255, 255, 255, 0.7);
    --text-editor-menu: #bfbfbf;
}
