:root {
    --board-height: 0;
    --board-width: 0;
    --cell: 0;
    --cell-font: 0;
    --cell-color: rgba(62, 62, 62, 0.97);
}

.light-mode {
    --cell-color: #bbbaba;
}

* {
  box-sizing: border-box;
}

body {
    padding: 0;
    margin: 0;
}

.demo-link {
    text-decoration: none;
    color: var(--color-h1);
    font-size: 30px;
}

.minesweeper-body {
    display: flex;
    padding: 0;
    margin: 0;
    flex-wrap: wrap;
    background-color: transparent;
    width: 100%; 
    height: 100vh; 
}

.game-play {
    width: 75%;
    height: 100vh;
    display: flex;
    margin: 0;
    background-color: transparent;
    overflow: hidden;
    justify-content: center;
    align-items: center;
}

.game-setting {
    width: 25%;
    height: 100vh;
    display: flex;
    background-color: rgb(150, 150, 150);
    margin: 0;
    padding-top: 25px;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    flex-wrap: wrap;
    position: relative;
}

.board {
    background-color: var(--code-text);
    height: var(--board-height);
    width: var(--board-width);
    padding-left: 1px;
    padding-bottom: 1px;
}

.row {
    display: flex;
    margin: 0;
    padding: 0;
}

.cell {
    display: flex;
    margin-top: 1px;
    margin-right: 1px;
    height: var(--cell);
    width: var(--cell);
    justify-content: center;
    align-items: center;
    background-color: var(--cell-color);
    font-size: var(--cell-font);
    font-weight: bold;
}

input[type="number"] {
    width: 50%;
    min-width: 90px;
    margin: 0 20px;
}

.input-container {
    display: flex;
    justify-content: flex-end;
    padding-left: 10%;
    margin-top: 5px;
}

label {
    display: inline-block;
    text-align: left;
    color: white;
}​

.cheat-table {
    display: block;
    border-top: 1px black;
    border-bottom: 1px black;
}

table, th, td {
  border: 1px solid black;
  border-collapse: collapse;
}

#new_game_button {
    width: 90%;
    margin-left: 5%;
    margin-right: 5%;
}

.game-console {
    width: 90%;
    height: 150px;
    margin-left: 5%;
    margin-right: 5%;
    overflow-y: scroll !important;
    background-color: white;
}

.game-console > span {
    display: block;
}

.red-mine {
    background-color: red;
}

.revealed {
    background-color: var(--background);
    transition: background 500ms;
}

.cell-img {
    height: 65%;
    width: 65%;
}

.mine.flag {
    background-color: green;
}

.count-1 {
    color: blue;
}

.count-2 {
    color: green;
}

.count-3 {
    color: red;
}

.count-4 {
    color: purple;
}

.count-5 {
    color: maroon;
}

.count-6 {
    color: #40E0D0;
}

.count-7 {
    color: black;
}

.count-8 {
    color: gray;
}

.game-status {
    color: white;
    font-size: 22px;
}

.game-control {
    width: 100%;
}

.game-control > div {
    width: 100%;
    display: flex;
    justify-content: center;
}

.game-control > div > input {
    margin-left: 8px !important;
}
    
.game-control > div > :first-child {
    margin-left: 0 !important;
}

.status-lost, .status-won {
    font-weight: bold;
    position: static;
    font-size: 24px;
}

.status-lost {
    color: red;
}

.status-won {
    color: green;
}

.one-dot {
    opacity: 0;
    -webkit-animation: dot 1.3s infinite;
    -webkit-animation-delay: 0.0s;
    animation: dot 1.3s infinite;
    animation-delay: 0.0s;
}

.two-dot {
    opacity: 0;
    -webkit-animation: dot 1.3s infinite;
    -webkit-animation-delay: 0.2s;
    animation: dot 1.3s infinite;
    animation-delay: 0.2s;
}

.three-dot {
    opacity: 0;
    -webkit-animation: dot 1.3s infinite;
    -webkit-animation-delay: 0.3s;
    animation: dot 1.3s infinite;
    animation-delay: 0.3s;
}

@-webkit-keyframes dot {
    0% {
        opacity: 0;
    }
    50% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@keyframes dot {
    0% {
        opacity: 0;
    }
    50% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@media screen and (min-width: 950px) {
    .game-control > div > input {
        margin-left: 20% !important;
    }
    
    .game-control > div > :first-child {
        margin-left: 0 !important;
    }
    
    .game-control {
        display: flex;
        justify-content: center;
    }
}

@media screen and (max-width: 767px), (min-width: 556px) {
    .game-setting {
        width: 35%;
    }
    
    .game-play {
        width: 65%;
    }
}

@media screen and (max-width: 555px) {
    .game-status {
        margin-left: -150px;
        margin-top: -25px;
    }
    
    .game-setting {
        width: 100%;
        height: auto;
        flex-direction: row;
    }
    
    .game-play {
        width: 100%;
        height: auto;
        min-height: 300px;
        max-height: 60%;
        padding: 10px 0;
    }
    
    .game-init {
        width: 50%;
        margin-left: -60px;
    }
    
    .game-play {
        padding: 10px 0;
    }
    
    #button-group {
        width: 100%;
        margin: 10px 0;
    }
    
    #button-group-2 {
        display: flex;
        justify-content: space-between;
    }
    
    #button-group-2 > input {
        margin-left: 10% !important;
    }
    
    .game-console {
        margin-bottom: 10px;
        height: 100px;
    }
    
    .game-setting {
        padding-top: 0px;
    }
    
}


@media screen and (max-width: 300px) {
    #button-group-2 > input {
        margin-left: 0 !important;
    }
}
