table {
  width: 100%;
  border-collapse: collapse;
  table-layout: fixed;
}

td, th {
  border: 1px solid #dddddd;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #dddddd;
}

.center {
  text-align: center;
}
