body {
  background: grey;
}

svg {
  height: 500px;
  max-height: 90%;
  width: 600px;
  max-width: 90%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.my-signature {
  stroke-dasharray: 3038;
  stroke-dashoffset: 3038;
  animation: sign 4s ease;
  animation-fill-mode: forwards;
}

@keyframes sign {
  to {
    stroke-dashoffset: 0;
  }
}
